ART-TRASH/Web References/ReportsService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idOportunidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestPDFResponse">
        <s:complexType />
      </s:element>
      <s:element name="CR_Oportunidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idOportunidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_OportunidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CR_OportunidadResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarReporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="archivoReporte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfKeyValuePairOfStringObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValuePairOfStringObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfStringObject" type="tns:KeyValuePairOfStringObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePairOfStringObject" />
      <s:element name="EjecutarReporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutarReporteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarReporte1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="archivoReporte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfKeyValuePairOfStringObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarReporte1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutarReporte1Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_OrdenServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idOrdenServicio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_OrdenServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CR_OrdenServicioResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_Venta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_VentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CR_VentaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_Stock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMarca" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEvento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_StockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CR_StockResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_Sales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMarca" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEvento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CR_SalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CR_SalesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestPDFSoapIn">
    <wsdl:part name="parameters" element="tns:TestPDF" />
  </wsdl:message>
  <wsdl:message name="TestPDFSoapOut">
    <wsdl:part name="parameters" element="tns:TestPDFResponse" />
  </wsdl:message>
  <wsdl:message name="CR_OportunidadSoapIn">
    <wsdl:part name="parameters" element="tns:CR_Oportunidad" />
  </wsdl:message>
  <wsdl:message name="CR_OportunidadSoapOut">
    <wsdl:part name="parameters" element="tns:CR_OportunidadResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutarReporteSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutarReporte" />
  </wsdl:message>
  <wsdl:message name="EjecutarReporteSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutarReporteResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutarReporte1SoapIn">
    <wsdl:part name="parameters" element="tns:EjecutarReporte1" />
  </wsdl:message>
  <wsdl:message name="EjecutarReporte1SoapOut">
    <wsdl:part name="parameters" element="tns:EjecutarReporte1Response" />
  </wsdl:message>
  <wsdl:message name="CR_OrdenServicioSoapIn">
    <wsdl:part name="parameters" element="tns:CR_OrdenServicio" />
  </wsdl:message>
  <wsdl:message name="CR_OrdenServicioSoapOut">
    <wsdl:part name="parameters" element="tns:CR_OrdenServicioResponse" />
  </wsdl:message>
  <wsdl:message name="CR_VentaSoapIn">
    <wsdl:part name="parameters" element="tns:CR_Venta" />
  </wsdl:message>
  <wsdl:message name="CR_VentaSoapOut">
    <wsdl:part name="parameters" element="tns:CR_VentaResponse" />
  </wsdl:message>
  <wsdl:message name="CR_StockSoapIn">
    <wsdl:part name="parameters" element="tns:CR_Stock" />
  </wsdl:message>
  <wsdl:message name="CR_StockSoapOut">
    <wsdl:part name="parameters" element="tns:CR_StockResponse" />
  </wsdl:message>
  <wsdl:message name="CR_SalesSoapIn">
    <wsdl:part name="parameters" element="tns:CR_Sales" />
  </wsdl:message>
  <wsdl:message name="CR_SalesSoapOut">
    <wsdl:part name="parameters" element="tns:CR_SalesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestPDF">
      <wsdl:input message="tns:TestPDFSoapIn" />
      <wsdl:output message="tns:TestPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CR_Oportunidad">
      <wsdl:input message="tns:CR_OportunidadSoapIn" />
      <wsdl:output message="tns:CR_OportunidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte">
      <wsdl:input message="tns:EjecutarReporteSoapIn" />
      <wsdl:output message="tns:EjecutarReporteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte1">
      <wsdl:input message="tns:EjecutarReporte1SoapIn" />
      <wsdl:output message="tns:EjecutarReporte1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CR_OrdenServicio">
      <wsdl:input message="tns:CR_OrdenServicioSoapIn" />
      <wsdl:output message="tns:CR_OrdenServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CR_Venta">
      <wsdl:input message="tns:CR_VentaSoapIn" />
      <wsdl:output message="tns:CR_VentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CR_Stock">
      <wsdl:input message="tns:CR_StockSoapIn" />
      <wsdl:output message="tns:CR_StockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CR_Sales">
      <wsdl:input message="tns:CR_SalesSoapIn" />
      <wsdl:output message="tns:CR_SalesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPDF">
      <soap:operation soapAction="http://tempuri.org/TestPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Oportunidad">
      <soap:operation soapAction="http://tempuri.org/CR_Oportunidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte">
      <soap:operation soapAction="http://tempuri.org/EjecutarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte1">
      <soap:operation soapAction="http://tempuri.org/EjecutarReporte1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_OrdenServicio">
      <soap:operation soapAction="http://tempuri.org/CR_OrdenServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Venta">
      <soap:operation soapAction="http://tempuri.org/CR_Venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Stock">
      <soap:operation soapAction="http://tempuri.org/CR_Stock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Sales">
      <soap:operation soapAction="http://tempuri.org/CR_Sales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPDF">
      <soap12:operation soapAction="http://tempuri.org/TestPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Oportunidad">
      <soap12:operation soapAction="http://tempuri.org/CR_Oportunidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte">
      <soap12:operation soapAction="http://tempuri.org/EjecutarReporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReporte1">
      <soap12:operation soapAction="http://tempuri.org/EjecutarReporte1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_OrdenServicio">
      <soap12:operation soapAction="http://tempuri.org/CR_OrdenServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Venta">
      <soap12:operation soapAction="http://tempuri.org/CR_Venta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Stock">
      <soap12:operation soapAction="http://tempuri.org/CR_Stock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CR_Sales">
      <soap12:operation soapAction="http://tempuri.org/CR_Sales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://190.244.98.245:8053/ReportsService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://190.244.98.245:8053/ReportsService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>